@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gentle-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px); /* Slight upward movement */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

a.gentle-clicked {
  animation: gentle-bounce 0.3s ease-out; /* Shorter, smoother animation */
}

p {
  text-align: justify;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;
  margin-top: 2rem;
  color: #00569d;
}

h3 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;
  margin-top: 1.5rem;
  color: #90b1db;
}
