@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gentle-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px); /* Slight upward movement */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

a.gentle-clicked {
  animation: gentle-bounce 0.3s ease-out; /* Shorter, smoother animation */
}

p {
  text-align: justify;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prose h2 {
  font-size: 1.875rem !important; 
  font-weight: 700;
  margin-top: 2rem;
  color: #0b2946 !important;
}

.prose h3 {
  font-size: 1.25rem !important; 
  font-weight: 600;
  margin-top: 1.5rem;
  color: #365f86 !important;
}

.prose h2 {
  margin-bottom: 0.5rem;
}

.prose h3 {
  margin-bottom: 0.5rem;
}

.prose h2 + p,
.prose h3 + p {
  margin-top: 0.3rem;
}
